* {
  box-sizing: border-box;
  margin: 0;
  
}

.slider-container {
  height: 50vh;
  width: 50vw;
  position: relative;
  margin: 200px auto;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.inactive {
  display: none;
}

.slides {
  height: 500px;
  width: 500px;
  position: relative;
  
}

.slide-image {
  width: 10rem;
  height: 12rem;
  position: absolute;
  top: 7%;
  left: 80%;
  border-radius: 40%;
}

.slide-title{
  width: 100px;
  height: 100px;
  color: black;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 45%;
  left: 86%;
  z-index: 10;
}

.slide-text {
  width: 40vw;
  color: black;
  font-size: 50px;
  position: absolute;
  top: 60%;
  left: 20%;
  font-size: 1.5rem;
}

.prev, .next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.slider-container:hover .prev:hover, .slider-container:hover .next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

.next {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}




